@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2 class="text-primary">Hi Guys!</h2>
    <h2 class="text-primary">You are welcome to verify my test task web application.</h2>

</div>
