@{
    ViewData["Title"] = "Task2";
}

<div class="btn-group">
    <button id="showResult" type="button" class="btn btn-success btn-lg" onclick="showResult()">Сгенерировать результат</button>
    <button id="hideResult" type="button" class="btn btn-info btn-lg" onclick="hideResult()">Скрыть результат</button>
</div>
<div id="result" class="list-group col-xl-6 col-lg-8" style="display:none">
    
</div>
<script>
    function showResult() {
        var link = '@Url.Action("Test2Result", "Home")';
        alert(link);
        var a = $.get(link, null, function (data) {
            alert(data);
        });
        console.log(a);
        
    }
    function hideResult() {
        $("#result").hide();
    }
</script>


